{% extends "base.html" %}
{% block titulo %} Agregar producto {% endblock %}
{% block contenido_principal %}

<h2>Agregar producto</h2>
<form class="form-horizontal" method="post" action="/producto" encType="multipart/form-data">
    <div class="form-group"><label class="control-label col-sm-2" for="nombre">Nombre:</label>
        <div class="col-sm-10"><input type="text" class="form-control" id="nombre" name="nombre"
                                      placeholder="Nombre de mi producto" required="true"/>
        </div>
    </div>

    <div class
                 ="form-group">
        <label class
                       ="control-label col-sm-2" for="descripcion">descripcion:</label>
        <div class
                     ="col-sm-10">
            <input type ="text" class="form-control" id="descripcion" name="descripcion" placeholder="zapatos" required="true"/></div>
    </div>

    <div class
                 ="form-group">
        <label class
                       ="control-label col-sm-2" for="fecha">fecha:</label>
        <div class
                     ="col-sm-10">
            <input type ="text" class="form-control" id="fecha" name="fecha" placeholder="11/11/2018" required="true"/></div>
    </div>

    <div class
                 ="form-group">
        <label class
                       ="control-label col-sm-2" for="precio">Precio(€):</label>
        <div class
                     ="col-sm-10">
            <input type
                           ="number" class="form-control" id="precio" name="precio" placeholder="2.50" required="true"/></div>
    </div>

    <div class="form-group">
        <div class
                     ="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Agregar
            </button>
        </div>

    </div>
</form>{% endblock %}