{% extends "base.html" %}

{% block titulo %} Detalles de canción {% endblock %}

{% block contenido_principal %}
<div class="row">
	<div class="media col-xs-10">
		<div class="media-body">
			<h2>Titulo de la canción Titulo de la canción</h2>
			<p>Autor</p>
			<p>Genero</p>
			<a class="btn btn-primary pull-right" href="/cancion/comprar/{{cancion._id.toString()}}">{{ cancion.precio}} € - {{ cancion.usd }} $</a>

			<!-- Cambiar el precio por "reproducir" si ya está comprada -->
		</div>
	</div>
</div>

{% endblock %}