{% extends "base.html" %}

{% block titulo %} Detalles de producto {% endblock %}

{% block contenido_principal %}
<div class="row">
	<div class="media col-xs-10">
		<div class="media-body">
			<h2>Titulo de la producto</h2>
			<p>nombre</p>
			<p>descripcion</p>
            <p>fecha</p>

            <a class="btn btn-primary pull-right"
               href="/producto/comprar/{{producto._id.toString()}}">{{ producto.precio
                }} €  - {{ producto.usd }} $</a>
			<!-- Cambiar el precio por "reproducir" si ya está comprada -->
		</div>
	</div>
</div>

{% endblock %}