{% extends "base.html" %}
{% block titulo %} Tienda –SDIWallapop {% endblock %}

{% block contenido_principal %}
<!--Búsqueda-->
<h2>Tienda</h2>
<div class="row">
    <div id="custom-search-input ">
        <form method="get" action="/tienda">
            <div class
                         ="input-group col-xs-8 col-sm-6 col-md-4 col-lg-5 pull-right">
                <input type="text" class="search-query form-control" placeholder="Nombre de la producto" name="busqueda"/>
                <span class
                              ="input-group-btn">
            <button class
                            ="btn" type="submit">
            <span class
                          ="glyphicon glyphicon-search"></span></button></span>
            </div>
        </form>
    </div>
</div>
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Precio</th>
            <th class="col-md-1"></th>
        </tr>
        </thead>
        <tbody>
        {% for producto in productos %}
        <tr>
            <td>{{ producto.nombre }}</td>
            <td>{{ producto.descripcion }}</td>
            <td>{{ producto.precio }}</td>
            <td>
            {% if (producto.vendido == false) %}
            <a href="/producto/comprar/{{ producto._id.toString() }}">Comprar</a>
                {% endif %}
                {% if (producto.vendido == true) %}
                <a disabled=true>Vendido</a>

                {% endif %}
                <a href="/producto/{{ producto._id.toString() }}">Detalles</a> <br>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<!--Paginaciónmostrarlaactual y 2 anterioresy dossiguientes-->
<div class="row text-center">
    <ul class="pagination">
        {% for pagina in paginas %}
        <li class="page-item" id="pi-{{ pagina}}">
            <a class="page-link" href="/tienda?pg={{ pagina }}" >{{ pagina }}</a>
        </li>
        {% endfor %}
        <script>
            $( "#pi-{{ actual}}" ).addClass("active");
        </script>

    </ul>
</div>
{% endblock %}